.profileinfo{
    width: 80%;
    margin: auto;
}
.postitem{
    /* width: ; */
    height: 520px;
}
.images{
    height: 450px;
    width: inherit;
    object-fit: cover;
    border-radius: 10px;
}
.profilepic{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* margin-top: 5%; */
}