<div>
    <div class="profileinfo">

        <h2>Welcome {{getuser.username}}</h2>
        <p>Email : {{getuser.email}} </p>
        <p>Full Name : {{getuser.fullname}}</p>
        <p>User Name : {{getuser.username}}</p>
        <p>email verified : {{getuser.emailverified}}</p>
    </div>
    <div class="container mt-5">
        <div class="grid row col-10 text-center mx-auto">
            <div *ngFor="let post of posts" class="col-md-4">
                <div class="container text-start border border-1 rounded-2 postitem">
                    <img class="profilepic" src="../../../assets/profileblank.webp" alt="">
                    <span>{{post.username}}</span>
                    <img class="images" [src]="post.imagePath" alt="">
                    <p>{{post.content}}</p>
                </div>
            </div>
           
        </div>
    </div>

  
</div>