<mat-toolbar color="accent">
    <div class="logo">
        <a routerLink="/home"  class="logo"> 
        <img src="../../assets/hivemind1.png" width="100" alt="">
        <div>
            HiveMind
        </div>
    </a>
    </div>

    <div>
        <a mat-button routerLink="/posts" routerLinkActive="mat-accent" mat-raised-button>New Post</a>
        <a mat-button routerLink="/login" routerLinkActive="mat-accent" mat-raised-button>Login</a>
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent" mat-raised-button>Signup</a>
    </div>      
    
</mat-toolbar>
