nav{
  background-color: #FAE231;
  /* font-weight: 700; */
  color: black;
  opacity: 100%;
  text-decoration: none;
  z-index: 800;
}
.profilepic{
  width: fit-content;
  height: 30px;
  border-radius: 100%;
  /* margin-top: 5%; */
}

.nav-links{
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-weight: 900;
  font-family: 'Comfortaa';
}
.nav-links:hover{
  text-decoration: none;
  color: #646464;
  margin-left: 20px;
  font-weight: 900;
  font-family: 'Comfortaa';
}