mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
mat-card{
  width: 70%;
  margin: auto;
  margin-top: 10%;
  padding:2% 5%;
  font-family: "Comfortaa";
}
mat-form-field{
  font-family: "Comfortaa";
}
button{
  font-family: "Comfortaa";
  /* margin: auto; */
  width: 30%;
  text-align: center;
}
h2{
  font-family: "Comfortaa";
  margin-bottom: 5%;
  text-align: center;
}
mat-card-actions{
  margin: auto;
  text-align: left;
}
p{
  text-align: center;
}
img{
  width: 5%;
  text-align: left;
}