.sidelink:hover{
    background-color: beige;
}
.sidelink{
    background-color: white;
    border: 0;
    border-radius: 10px;
    
}
.profilepic{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* margin-top: 5%; */
}