mat-card{
    width: 100%;
    margin: 5% auto 5% auto
    /* margin:auto */
    
}
mat-form-field,
textarea{
    width: 100%;
    height:fit-content;
    margin:auto
}
mat-raised-color
/* .mat-accent{
    background-color: black;
} */
mat-raised-button,
button{
    display: block;
    /* margin-top:0; */
    /* margin-bottom: 10px; */
    /* padding:5%; */
    margin: 2% auto ;
    padding : 2% 4%;
    text-align: center;
    
    border-radius:10px;
    background-color: #80BCBD;
}
mat-form-field{
    margin : auto 5%;
    width: 90%;
    /* padding: 5%; */
}