mat-card{
    width: 70%;
    margin: 5% auto 5% auto
    /* margin:auto */
    
}

.container{
    width: 70%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
}

mat-form-field,
textarea{
    width: 100%;
    height:fit-content;
    margin:auto
}
mat-raised-color
/* .mat-accent{
    background-color: black;
} */

.container-padding{
    margin-top: 10%;
}

mat-form-field{
    padding-top: 2%;
    font-family: "Comfortaa";
    font-weight: 500;
}

mat-form-field{
    margin : auto 5%;
    width: 90%;
    /* padding: 5%; */
}

input[type="file"]{
    visibility: hidden;
}

.image-preview {
    height: 12rem;
    margin: 1rem 0;
}

.image-preview img {

    height: 100%;
}