<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h2>
  Create a new account
  </h2>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="fullname" ngModel type="text" placeholder="Full Name" #fullnameInput="ngModel" required fullname>
      <mat-error *ngIf="fullnameInput.invalid">Please enter a valid Fullname.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="username" ngModel type="text" placeholder="User Name" #fullnameInput="ngModel" required username>
      <mat-error *ngIf="fullnameInput.invalid">Please enter a valid Fullname.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="dob" ngModel type="date" placeholder="Date of Birth" #dobInput="ngModel" required dob>
      <mat-error *ngIf="fullnameInput.invalid">Please enter a valid Fullname.</mat-error>
    </mat-form-field>
    <div style="display: flex; justify-content: center;">

      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
      </div>
    </form>
</mat-card>
