
router-outlet {

}

.container{
  font-family: "Comfortaa";
  /* width: 60%; */
  margin: auto;
  /* height: 100vh; */
  /* margin-top: 5%; */
  /* overflow-y: hidden; */
}
.sidelink:hover{
  background-color: beige;
}
.sidelink{
  background-color: white;
  border: 0;
  border-radius: 10px;
  
}