<div class="edit-profile">
    <form [formGroup]="form" (Submit)="onSubmit()">
      <!--<form #editprofileForm="ngForm" (Submit)="onSubmit(editprofileForm)">-->  
        <h1 class="h1-strong">Edit Profile</h1>

       <!-- <h1 class="h1-strong">{{title}}</h1>

        <div class="alert alert-success" *ngIf="status == 'success'">
            Account details updated successfully.
        </div>
  
        <div class="alert alert-danger" *ngIf="status == 'error'">
             Error updating account details.
        </div>-->  

        <div class="col-md-6 form-group">
            <!--<p>
                <label>Bio</label>
                <input class="form-control" name="bio" ngModel type="text" placeholder="add some information in your bio" #bioInput="ngModel" required bio/>
            </p>-->
        </div>

        <div class="col-md-6 form-group">
            <p>
                <input type="file" name="file" id="file" class="inputfile" (change)="fileChangeEvent($event)"/>
                <label for="file">Select an image</label>
            </p>
            <div *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                <img [src]="imagePreview" [alt]="form.value.title" class="upload-image" width="100" height="100"/>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <input  type="submit" color='accent' value="Update" class="btn btn-warning" />
        </div>

    </form>
</div>
