<div class="user-edit">
    <!-- <div *ngIf="isLoading">loading</div> -->

    <form [formGroup]="form" (Submit)="onSubmit()" *ngIf="!isLoading">
        <h1 class="h1-strong">Edit profile</h1>
        
        <div class="form-group">
            <p>
                <label>Name</label>
                <input type="text" formControlName="fullname" class="form-control" placeholder="Fullname" >
            </p>
            <p>
                <label>Username</label>
                <input type="text" formControlName="username" class="form-control" placeholder="User Name" >
            </p>
            <p>
                <label>Bio</label>
                <input formControlName="bio" class="form-control" placeholder="Bio" >
            </p>
            <p>
                <label>Date of Birth</label>
                <input type="date" formControlName="dob" class="form-control" placeholder="Date of Birth" >
            </p>
            <div>
                <label>Pick profile pic</label>
                <br>
                <button class="bg-light rounded-3 border border-1 p-4 fs-3 my-3 mx-auto" type="button" (click)="filePicker.click()"> +</button>
              <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                <img class=" rounded-3" [src]="imagePreview" [alt]="form.value.title">
              </div>
                </div>
              <input class="imageinput" type="file" #filePicker (change)="onImagePicked($event)">
            </div>
        <div class="form-group">
            <button type="submit" (click)="onSubmit()" class="btn btn-warning">Update</button>
        </div>
    </form>
</div>
