<div class="container col-8 mt-5 border border-1 rounded-2 p-4">
    <div *ngIf="isLoading"></div>
    <h2>Forgot Password</h2>
    <form  (submit)="onForgotPassoword(forgetForm)" #forgetForm="ngForm" *ngIf="!isLoading">
      <p class="text-start mx-auto">Enter the Email you used to create your account so we can and send you a link for reseting your password.</p>
      
        <div>
          <input class="form-control" name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
          <!-- <label *ngIf="emailInput.invalid">Please enter a valid email.</label> -->
        </div>

        <div style="width: 100%; display: flex; justify-content: center;">
            <button class="btn btn-warning mt-3" color="accent" type="submit" *ngIf="!isLoading">Send</button>
        </div>

        <div >
          <i class="bi bi-arrow-left"></i>
          <a style="color: rgb(118, 75, 0); cursor: pointer;" (click)="onBackTOLoginClick()">Back to Log in</a>
        </div>
      </form>
    </div>




