<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <h2>Forgot Password</h2>
    <form (submit)="onForgotPassoword(forgetForm)" #forgetForm="ngForm" *ngIf="!isLoading">
      <p>Enter the Email you used to create your account so we can and send you a link for reseting your password.</p>
      
        <mat-form-field>
          <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>

        <div style="width: 100%; display: flex; justify-content: center;">
            <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Send</button>
        </div>

        <mat-card-actions >
          <button mat-flat-button (click)="onBackTOLoginClick()">Back to Log in</button>
        </mat-card-actions>
      </form>
</mat-card>




