<mat-spinner *ngIf="isLoading"></mat-spinner>
<div  class="container" style="height: fit-content; ">
  <app-comment [postId]="postId" (toggleCommentEvent)="onCommentToggle($event,null)" *ngIf="commentToggle"></app-comment>
  <cdk-virtual-scroll-viewport itemSize="2">
    <mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
      <div class="postss" style="width:480px;" *cdkVirtualFor="let post of posts">
        <div class="post-image" style="margin-top: 5%;">
          <div class="username">
            <p style="text-align: left;">{{post.username }}</p>
          </div>
          <img style="height: 640px; width:480px; object-fit: contain ; margin: auto;" [src]="post.imagePath" >
        </div>

        <div>
          <p>{{ post.content }}</p>
        </div>

        <mat-card-actions style="display: flex;margin: 0 10px;" align="start">
          <div style="display: block; text-align: center;">

            <mat-icon class="action-item" (click)="likeToggle(post.id)" id="likeIcon" color="Basic">favorite_{{likedIcon}}</mat-icon>
            <span id="likecount">{{post.likes}}</span>
          </div>
          <mat-icon class="action-item" (click)="onCommentToggle(true,post.id)" color="Basic">chat_bubble_outline</mat-icon>
          <mat-icon class="action-item" color="Basic">share</mat-icon> 
        </mat-card-actions>

        <div *ngIf="userIsAuthenticated && user.username===post.username">
          <a mat-button color="primary" [routerLink]="['/edit/', post.id]">EDIT</a>
          <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
        </div>

      </div>
    </mat-accordion>
  </cdk-virtual-scroll-viewport>
   <!-- <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"></mat-paginator>-->

  <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
</div>
